@font-face {
  font-family: "iconfont"; /* Project id 2821225 */
  src: url('//at.alicdn.com/t/font_2821225_ggcajhtaoai.woff2?t=1632131260221') format('woff2'),
  url('//at.alicdn.com/t/font_2821225_ggcajhtaoai.woff?t=1632131260221') format('woff'),
  url('//at.alicdn.com/t/font_2821225_ggcajhtaoai.ttf?t=1632131260221') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-image:before {
  content: "\e70a";
}

.icon-cancel:before {
  content: "\e710";
}

.icon-minus:before {
  content: "\e711";
}

.icon-plus:before {
  content: "\e712";
}

.icon-confirm:before {
  content: "\e714";
}
